@font-face {
  font-family: 'Taken by Vultures Demo';
  src: url(../fonts/taken_by_vultures_demo.otf);
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(../../images/sanfrancisco.jpg);
  background-size: cover;
  background-position: center;
  padding: 500px, auto;
  height: 800px;
  text-align: center;
}

.banner h1 {
  font-family: Taken by Vultures Demo;
  color: rgba(5,5,5,0.8);
  font-weight: 100;
  font-size: 150px;
}
