.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(../../images/sf.jpg);
  background-size: cover;
  background-position: center;
  padding: 500px, 0px;
  height: 800px;
  text-align: center;
}

.banner h1 {
  font-family: 'Taken by Vultures Demo';
  color: rgba(10,10,10,0.8);
  font-weight: 100;
  font-size: 150px;
}
